<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charSet="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <title>{{{ title }}}</title>
        <link rel='stylesheet' href='{{{ assetPaths.applicationCss }}}' />
        <script type="text/javascript">
            window.storeData = {{{ storeData }}};
        </script>
        <script src='{{{ assetPaths.applicationJs }}}' async></script>
    </head>
    <body>
        <div id="react-app-root" style="height: 100%;">{{{ markup }}}</div>
    </body>
</html>
